<body>


  <div class="all" [hidden]=submitted>
    <img id="logo" src="assets/images/online-shop.png" alt="">

    <section class="head">


      <div class="title">
        <h1>Computers</h1>
        <h3 id="hotelTitle">price</h3>
        <p>You can find the best computers for yourself.</p>

      </div>


    </section>

    <section class="pricing">
      <div class="row">
        <div class="col-6 col-md-4">
          <div class="card-text-center" style="width: 18rem;">
            <img src="assets/images/laptop.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">DELL 15-DB0023NT AMD RYZEN 3 2200U 2.5GHZ-4GB-1TB HDD-15.6"-AMD-W10 NOTEBOOK</p>
              <h3>589$</h3>
              <button class="btn btn-primary" type="button" name="button" (click)="selectedProduct(1)"> Buy </button>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4">
          <div class="card-text-center" style="width: 18rem;">
            <img src="assets/images/laptop2.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">ASUS S430FN CORE İ7 8565U 1.8GHZ-8GB RAM-256GB SSD-14"-MX150 2GB-W10 - NOTEBOOK</p>
              <h3>309$</h3>
              <button class="btn btn-primary" type="button" name="button" (click)="selectedProduct(2)"> Buy </button>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4">
          <div class="card-text-center" style="width: 18rem;">
            <img src="assets/images/laptop3.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">HP X540LA CORE İ3 5005U 2.0GHZ-4GB RAM-500GB HDD-15.6"W10 NOTEBOOK</p>
              <h3>829$</h3>
              <button class="btn btn-primary" type="button" name="button" (click)="selectedProduct(3)"> Buy </button>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="info">
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-6 col-md-4">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Cool stuff</a></li>
              <li><a class="text-muted" href="#">Random feature</a></li>
              <li><a class="text-muted" href="#">Team feature</a></li>
              <li><a class="text-muted" href="#">Stuff for developers</a></li>
              <li><a class="text-muted" href="#">Another one</a></li>
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-4">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-4">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>

    </section>

  </div>

  <div class="all" [hidden]=!submitted>
    <img id="logo" src="assets/images/online-shop.png" alt="">
    <form class="form" #personForm="ngForm">

      <div class="form-group">
        <h3>Informations:</h3>
        <div class="form-group">
          <label for="firstName">Name: </label>
          <input id="name" class="form-control" type="text" name="firstName" #firstName #spy required>

        </div>
        <div class="form-group">
          <label for="lastName">Last Name: </label>
          <input id="lastname" class="form-control" type="text" name="lastName" #lastName>

        </div>
        <h3>Address:</h3>

        <div class="form-group">
          <label> Street: </label>
          <input id="street" class="form-control" type="text" name="street" #street>

        </div>

        <div class="form-group">
          <label>City:</label>
          <input id="city" class="form-control" type="text" name="city" #city>

        </div>
        <div class="form-group">
          <label>State:</label>

          <input id="state" class="form-control" type="text" name="state" #state>

        </div>
        <div class="form-group">

          <label>Zip Code:</label>
          <input id="zip" class="form-control" type="text" name="zip" #zip>

        </div>

       

      </div>

      <button type="submit" class="btn btn-success" [disabled]="!personForm.form.valid" (click)="addPerson(firstName.value, lastName.value, street.value, city.value, state.value, zip.value); show();">Submit</button>
    </form>
    <p>Form Status: {{ personForm.status }}</p>
  </div>

</body>
