 <body>
   <div class="row" [hidden]=submitted>

     <div class="info" *ngFor="let per of person">


       <h1>{{ per.firstName }}'s Details</h1>
       <div class="person">

         <h4> ID: {{per.id }}</h4>
         <h4> Name: {{ per.firstName }}</h4>
         <h4> Lastname: {{ per.lastName }}</h4>
         <h4> Street: {{ per.street }}</h4>
         <h4> City: {{ per.city }}</h4>
         <h4> State: {{ per.state }}</h4>
         <h4> Zip: {{ per.zip }}</h4>
         <h4> Product: {{ per.name }}</h4>
       </div>
       <button id="edit" class="btn btn-primary" (click)="hide()">Edit</button>

     </div>

   </div>

   <div class="all" [hidden]=!submitted>
     <img id="logo" src="assets/images/online-shop.png" alt="">
     <form class="form" #personForm="ngForm">

       <div class="form-group">
         <h3>Informations:</h3>
         <div class="form-group">
           <label for="firstName">Name: </label>
           <input id="name" class="form-control" [(ngModel)]="person[0].firstName" type="text" name="firstName" placeholder="Name" #firstName #spy required>

         </div>
         <div class="form-group">
           <label for="lastName">Last Name: </label>
           <input id="lastname" class="form-control" [(ngModel)]="person[0].lastName" type="text" name="lastName" placeholder="Lastname" #lastName>

         </div>
         <h3>Address:</h3>

         <div class="form-group">
           <label> Street: </label>
           <input id="street" class="form-control" [(ngModel)]="person[0].street" type="text" name="street" placeholder="Street" #street>

         </div>

         <div class="form-group">
           <label>City:</label>
           <input id="city" class="form-control" [(ngModel)]="person[0].city" type="text" name="city" placeholder="City" #city>

         </div>
         <div class="form-group">
           <label>State:</label>

           <input id="state" class="form-control" [(ngModel)]="person[0].state" type="text" name="state" placeholder="State" #state>

         </div>
         <div class="form-group">

           <label>Zip Code:</label>
           <input id="zip" class="form-control" [(ngModel)]="person[0].zip" type="text" name="zip" placeholder="Zip" #zip>

         </div>

       </div>

       <button type="submit" class="btn btn-success" [disabled]="!personForm.form.valid" (click)="update(firstName.value, lastName.value, street.value, city.value, state.value, zip.value); hide();">Save</button>
     </form>>
   </div>
 </body>
